:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);

  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark-blue: hsl(240, 100%, 5%);
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-decoration: none;   
}

body {
  background: var(--neutral-off-white);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  display: flex;
  flex-direction: column;  
  background-color: var(--neutral-off-white);
  margin: 50px 200px;
  max-width: 1440px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;  
}

header nav a {
  margin-left: 50px;  
  color: hsl(220deg, 15%, 55%);
}

p {
  color: hsl(220deg, 15%, 55%);
  font-size: 15px;
}

main {
  display: flex;  
}

.img-toys {
  width: 800px;    
  height: 300px;
  margin-bottom: 30px;
}

.content-left {
  /* max-width: 800px; */
  justify-content: space-between;
}

.content-left-botton {
  display: flex;
}

.content-left-botton > h1 {
  font-size: 40px;
  margin-right: 20px;
}

.content-left-botton > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-left-botton > div > button {
  width: 130px;
  height: 40px;
  background-color: var(--primary-soft-red);
  color: white;
  font-weight: bold;
  border: none;
}

.content-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  background: var(--neutral-very-dark-blue);
  padding: 20px;
  /* max-width: 400px;   */
  justify-content: center;
}

.content-right h1 {
  color: var(--primary-soft-orange);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-right h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

hr {
  margin: 30px 0 30px 0;
}

footer {
  display: flex;
  flex-direction: row;
}

footer > img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer > div > h1 {
  font-size: 24px;
  color: var(--neutral-dark-grayish-blue);
}

footer > div > h2 {
  font-size: 18px;
  color: var(--neutral-very-dark-blue);
}