:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);

  --neutral-off-white: hsl(36, 100%, 99%)
  --neutral-grayish-blue: hsl(233, 8%, 79%)
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%)
  --neutral-very-dark-blue: hsl(240, 100%, 5%)
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-decoration: none;   
}

body {
  background: var(--neutral-off-white);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  display: flex;
  flex-direction: column;  
  background-color: var(--neutral-off-white);
  margin: 100px 150px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px 0;
}

header nav a {
  margin-left: 50px;
}

.img-toys {
  width: 800px;
}

.content-left {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.content-right {
  display: flex;
}

.content-right div {
  background: var(--neutral-very-dark-blue);
}

.content-right h1 {
  color: var(--primary-soft-orange);
}

.content-right h2 {
  color: white;
}

.content-right p {
  color: var(--neutral-off-white / 0.5);
}